.title {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  margin: 10px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-custom {
  width: 80%;
  margin: 20px;
}

.table-custom th {
  text-align: center;
  border-style: solid;
  border-color: lightslategray !important;
  border-width: 2px;
}
