.title {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  margin: 10px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.table-custom {
  /* width: 100%; */
  /* margin: 20px; */
  padding: 20px;
}
